*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

html{
  scroll-behavior: smooth;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo{
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #333;
}

.btn{
    background: #ff5c5c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

#intro-left h1{
    font-size: 50px;
    color: #0f2a44;
}

#intro-left p{
    margin: 20px 0;
    background: #ff5c5c;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

.intro-right img{
    height: 350px;
    width: 300px;
    border-radius: 50%;
}


/* About Section*/
.about{
    padding: 60px;
}

.about-container{
    display: flex;
    justify-content: space-between;
}

.about-left{
    flex-basis: 30%;
}

.about-left img{
    width: 100%;
    border-radius: 15px;
}

.about-right{
    flex-basis: 65%;
}

.about-title{
    font-size: 60px;
    font-weight: 600;
    color: #0f2a44;
}

.about-right p{
    margin: 20px 0;
    color: gray;
}

.se{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 10px 20px;
}

.skills-title{
    font-size: 40px;
    font-weight: 600;
    color: #0f2a44;
}

.education-title{
    font-size: 40px;
    font-weight: 600;
    color: #0f2a44;
}

.mark{
     list-style: none;
     color: gray;
}

.skills ul li span{
    color: #0f2a44;
}

.education ul li span{
    color: #0f2a44;
}

/* Projects Section*/
.Projects{
    margin: 20px;
    padding: 40px;
}

.project-title{
    font-size: 60px;
    font-weight: 600;
    color: #0f2a44;
}

.project-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.project-list div{
    background: transparent;
    padding: 25px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.project-list div i{
    font-size: 30px;
    margin-bottom: 30px;
}

.project-list div p{
    color: gray; 
}

.project-list div h2{
    font-size: 30px;
    color: #0f2a44;
    margin-bottom: 15px;
}

.project-list div a{
    text-decoration: none;
    color: #0f2a44;
    font-size: 13px;
    margin-top: 15px;
    display: inline-block;
}



